body {
    background-color: black;
    color: white;
    font-family: 'Georgia';
    line-height: 40px;
    font-weight: bold;
    font-style: italic;
}

#container {
    width: 440px;
    margin: 80px auto 0;
    text-align: center;
}

img {
    display: block;
}

h1 {
    text-decoration: underline;
}
