body {
    background-color: black;
    color: white;
}

#container {
    width: 1300px;
    margin: 0 auto;
    text-align: center;
}

img {
    display: inline-block;
}

h1 {
    text-decoration: underline;
}
